
<!-- Learn how to make clickbaiting thumb nails -->
<h1>Heath Logan Campbell</h1>
<span>Computer science & Infomation Systems</span>
<span>Dating Isabelle</span>
<p>
 <a href="https://github.com/HeathLoganCampbell">Github</a>
</p>